.progress_bar{
   
    margin: 5px 20px 10px 0px;
    padding: 35px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #F2F2F2;
    border-radius: 10px;
}
.title{
    margin-bottom: 20px;
}

.hourly_progress_bar{
    display: flex;
}

.hour{
    font-size: 10px;
    width:30px;
    font-weight:bold;
    text-align:right;
    margin:0px;
    padding-top:3px;
}

.space{
    width:10px;
}