.quality_container{
    height: 340px;
    width: 350px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background-color: #D9D9D9;
    margin:0px 20px 0px 10px;  
}


.quality{
    flex: 2;
    height: 330px;
    width: 310px;
    padding: 0px 20px;
    
   
}
.tile{
    
    padding: 20px;
    height: 30px;
    width: 270px;
    background-color: #F2F2F2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
}
.quality_topic{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.rejectionCount {
    margin-left: 120px;
    font-size: 32px;
}
.breakdown_value{
    margin-left: 120px;
    font-size: 32px;
    color: red;
}
.breakdown{
    
    margin-left: 6px;
    color: red;
    font-size: 32px;
    font-weight: normal;
}
.minorStoppages_value{
    margin-left: 120px;
    font-size: 32px;
}
.minorStoppages{
    margin-left:6px; 
    font-size: 32px;
    font-weight: normal;
}
.playCircleOutIcon_3{
    
    margin-top: 8px;
    margin-left: 30px;
}
.playCircleOutIcon{
    margin-left:90px ;
    margin-top: 8px;
}